*{
    margin: 0;
    padding: 0;
    }

body{
    background: url(IMAGENES/FONDO.jpg);
    background-size: 100%;
}

div#container{
    width: 100%;
   
    display: flex;

}

div#columna1{
    float: left;
    width: 33.3%;
    height: 500px;
   
    text-align: center;
    
    
}



div#columna3{
    float: right;
    width: 33.3%;
    height: 500px;
    
    text-align: center;

}
div#columna2{
    width: 33.3%;
    height: 500px;
    
    text-align: center;
    
}

#boton1{
    position:relative;
    top:100%; 
    background-color: salmon;
    
   
}

.contenedormenu{
    padding-top: 20%;
  background-color: purple;
   margin-left: auto;
   margin-right: auto;
}

.item{
    margin: 10px 20px;
    box-shadow: 0 4px 8px 0 lightskyblue;
    float: left;
    width: 350px;
    
}
.item-img{
    width: 100%;
    height: auto;

}
.item:hover{
    border: 1px solid lightpink;
    transform: rotate(-3deg);
}

.item-text{
    text-align: center;
    text-shadow: 2px 2px 5 px pink;
}

.formulario{
    width: 300px;
    height: 500px;

}