*{
    margin: 0;
    padding: 0;
    }

body{
    background: url(IMAGENES/FONDO.jpg);
    background-size: 100%;
}

div#container{
    width: 100%;
   
    display: flex;

}

div#columna1{
    float: left;
    width: 33.3%;
    height: 500px;
   
    text-align: center;
    
    
}



div#columna3{
    float: right;
    width: 33.3%;
    height: 500px;
    
    text-align: center;

}
div#columna2{
    width: 33.3%;
    height: 500px;
    
    text-align: center;
    
}

#boton1{
    position:relative;
    top:100%; 
    background-color: salmon;
    
   
}
